* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: #f4f6f9;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

aside {
    width: 230px;
    background-color: #ffff;
    color: #681413;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;

}

.perfil {
    text-align: center;
    margin-bottom: 30px;
    
}

.perfil img {
    border-radius: 50%;
    width: 90px;
    border: 3px solid #681413;
    margin-bottom: 10px;
}

.perfil h3 {
    font-size: 18px;
    margin-bottom: 4px;
}

.perfil p {
    font-size: 14px;
    color: #bdc3c7;
}

.menu-lateral {
    list-style: none;
    width: 220px;
}

.menu-lateral li {
    margin-bottom: 10px;
}

.menu-lateral li a {
    display: block;
    border: 1px solid #000;
    padding: 12px;
    text-decoration: none;
    color: white;
    background: #681413;
    border-radius: 8px;
    text-align: center;
    transition: background 0.3s;
}

.menu-lateral li a:hover {
    background: #9a1915;
}


main {
    flex: 1;
    padding: 30px;
    width: auto;
    height: auto;
}

/* Barra de pesquisa */
header {
    margin-bottom: 25px;
}

header input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #878787;
    border-radius: 8px;
    outline: none;
}


/* Seção de solicitações */
section {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.gestor {
    box-shadow: 1px 1px 1px #9a1915;
    border: 1px solid #9a1915;
    background: white;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
}

.tecnico{
    box-shadow: 1px 1px 1px #9a1915;
    border: 1px solid #9a1915;
    background: white;
    padding: 20px;
    border-radius: 12px;  
}

section h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #9a1915;
}

/* Cards de solicitações */
.solicitacao {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #878787;
    background: #f9f9f9;
    transition: transform 0.2s;
}

.solicitacao:hover {
    transform: translateY(-3px);
}

.solicitacao p {
    margin: 5px 0;
}

.perfil-usuario{
    width:100%;
    text-align:center;
    padding:10px 6px;
    }

.perfil-usuario img{
        width:92px;
        height:92px;
}

.pessoa{
    gap: 10px;
    width:100px;
    height:92px; 
    
}

.grid{
    gap: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.pessoa {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.pessoa img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover; 
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.colaboradores{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 100%;

}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.4em;
    color: #555;
    margin-top: 0;
    margin-bottom: 25px; 
}

.kanban{
    width: 100%;
    min-height: 600px;
    height: auto;
    border: 1px solid #000;
    display: flex;

}

.kanbancards{
    position: relative;
    width: 33.33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px solid #000;
}

hr{
    width: 100%;
}

.botaoquadro{
    position: absolute;
    bottom: 0;
    background-color: #bdc3c7 ;
    width: 100%;
    height: 30px;
    border-top: 1px solid #000;
}

.exemplo{
    padding: 10px;
    margin: 10px;
    width: 90%;
    height: auto;
    min-height: 50px;
    border: 1px solid #9a1915;
    box-shadow: 1px 1px 1px #9a1915;
    border-radius: 8px;
}

.solicitacoes{
    gap: 10px;
    border: 1px solid #9a1915;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 1px 1px #9a1915;
}

.login{
    border-radius: 8px;
    padding: 10px;
    gap: 20px;
    width: 50%;
    height: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdc3c7;
}

.botaologin{
    padding: 10px;
    border-radius: 8px;
    background-color: #681413;
    width: auto;
    color: #f0f0f0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudologin{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.caixabemvindo{
    color: #681413;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.linha{
    width: 1px;
    height: 100%;
    background-color: #000;
}

.caixalogin{
    color: #681413;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.formulariologin{
    gap: 20px;
}

.formulariocadastro{
    width: 45%;
    height: auto;
    border: 1px solid #681413;
    border-radius: 8px;
    background-color: #bdc3c7;
    color: #681413;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    display: flex;
}

.cadastro{
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    width: 300px;
    height: 30px; 
}

input{
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    height: 30px;
}

.botaocadastro{
    padding: 10px;
    border-radius: 8px;
    background-color: #681413;
    width: auto;
    color: #f0f0f0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    border-radius: 8px;
    width: 100%;
    height: 30px;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;

}

.botaocriar{
    padding: 10px;
    border-radius: 8px;
    background-color: #681413;
    width: auto;
    color: #f0f0f0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ab{
    padding: 10px;
    display: flex;
    justify-content: baseline;
}

.formulariocriar{
    box-shadow: 1px 1px 1px #9a1915;
    width: 100%;
    height: auto;
    border: 1px solid #681413;
    border-radius: 8px;
    background-color: #bdc3c7;
    color: #681413;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    display: flex;
}

.obrigadaa{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.obrigada{
    color: #f0f0f0;
    width: 60%;
    height: 200px;
    background-color: #681413;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    padding: 10px;
}

.botaoobrigada{
    padding: 10px;
    border-radius: 8px;
    width: auto;
    color: #f0f0f0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}